<h2 class="ui header">All Products</h2>

<div class="ui three stackable cards" *ngIf="products$ | async as products">
  <div class="ui card" *ngFor="let p of products">
    <div class="image">
      <img [src]="p.image" alt="product image">
    </div>

    <div class="content">
      <div class="header">{{ p.title }}</div>
      <div class="meta">{{ p.category }}</div>
      <div class="description">
        <strong>{{ p.price }} $</strong>
      </div>
    </div>

    <div class="extra content">
      <button
        class="ui primary button"
        [routerLink]="['/product', p.id]"
      >
        Details
      </button>

      <button
        class="ui red button"
        (click)="delete(p.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
